.header-layout {
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  display: flex;
  gap: 2em;
  align-items: center;
}

.header-layout ul {
  display: flex;
  gap: 2em;
}

.header-layout li {
  list-style: none;
}
